<!DOCTYPE html>
<html style="height:100%">
	<head>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<title>Sieb Squad</title>
	</head>
	<body style="font-family:'Calibri'; text-align: center; height:100%">
		<div class="vertical-align-middle">
		<h1 style="color:#FF0066; font-size:80px;">Social Media Aggregator</h1>
		<button id="login" style="background:#66CCFF; color:#FFFFFF; border-radius:10px; font-family:'Calibri'; font-size:40px;"><strong>Login</strong></button>
		</div>
		<div id="fb-root"></div><br><br>
		<script>
		window.fbAsyncInit = function() {
			FB.init({
			  appId      : 1416521955277155,
			  status     : true,
			  xfbml      : true
			});
		};
		(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		$(function(){
			$(window).on("resize", function(){
				$('.vertical-align-middle').each(function(){
					$(this).css({"margin-top": ($(this).parent().height() - $(this).height())/2});
				});
			});
			$(window).resize();
		})
		</script>
		
		<br>
		<br>
		<div id="newsfeed">
		</div>
		<script>
			$(document).on("click", "#login", function(){
				window.location = '/login';
			});
		</script>

	</body>
</html>
