<!DOCTYPE html>
<html>
	<head>
		<title>Sieb Squad</title>
	</head>
	<body>
		<h1>Social Media Aggregator</h1>
		<div id="fb-root"></div>
		 <script>
		window.fbAsyncInit = function() {
			FB.init({
			  appId      : 1416521955277155,
			  status     : true,
			  xfbml      : true
			});
		};
		(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false">
		</div>

	</body>
</html>