<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<title>Sieb Squad</title>
	</head>
	<body>
		<h1>Social Media Aggregator</h1>
		<div id="fb-root"></div>
		<script>
		window.fbAsyncInit = function() {
			FB.init({
			  appId      : 1416521955277155,
			  status     : true,
			  xfbml      : true
			});
		};
		(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<button id="fb_Login" style="background:#003399; color:#FFFFFF; width: 20em;  height: 3em; border-radius:10px;">Get Facebook Newsfeed</button>
		<div id="newsfeed">
			
		</div>
		<script>
			$(document).on("click", "#fb_Login", function(){
				FB.login(function(response) {
				var str = "";
				if (response.authResponse) {
				// The person logged into your app
					FB.api('/me/home', function(response) {
						console.log(response);
						var dataArr = response.data;
						for(var i=0; i<dataArr.length; i++){
							var data = dataArr[i];
							if(data.type == "link"){
								str += "<h3>" + data.from.name + "</h3><br><p>" + data.story + "</p><br><br>";
							}
							else if(data.type == "photo"){
								str += "<h3>" + data.from.name + "</h3><br>" + "<img src=" + data.picture + "><br><br>";
							}
							else if(data.type == "status"){
								if("story" in data)
									str += "<h3>" + data.from.name + "</h3><br><p>" + data.story + "</p><br><br>";
								else
									str += "<h3>" + data.from.name + "</h3><br><p>" + data.message + "</p><br><br>";
							}
						}
						document.getElementById("newsfeed").innerHTML = str;
					});
				}
				else {
				// The person cancelled the login dialog
				}
			}, {scope: 'basic_info,read_stream'});
			});
		</script>

	</body>
</html>
